<div>
  <div>
    <h1>
      <%= @the_user.username %>
    </h1>

    <dl>
      <dt>
        Private
      </dt>
        <dd>
          <%= @the_user.private%>
        </dd>
      <dt>
        Followers
      </dt>
        <dd>
          <%follow_count = FollowRequest.where({:recipient_id => @the_user.id, :status => "accepted"})%>
          <%= follow_count.count %>
        </dd>
      <dt>
        Following
      </dt>
        <dd>
          <%following_count = FollowRequest.where({:sender_id => @the_user.id, :status => "accepted"})%>
          <%= following_count.count %>
        </dd>


      <ul> 
        <li> <a href = "/users/<%=@the_user.username%>"> Profile</a>  </li>
        <li> <a href = "/users/<%=@the_user.username%>/liked_photos">Liked photos </a> </li>
        <li> <a href = "/users/<%=@the_user.username%>/feed"> Feed </a> </li>
        <li> <a href = "/users/<%=@the_user.username%>/discover">Discover </a> </li>
      </ul>
    </dl>

<h2>
  
  Feed (<%=@following_posts.count%>)
  
</h2>
<table border ="1">
  <tr>
    <th>Image</th>					
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <%@following_posts.each do |post|%>
    <%owner = User.where({:id => post.owner_id}).at(0)%>
  <tr>
    <td> <img src = "<%=post.image%>"> </td>
    <td> <%=owner.username%></td>
    <td> <%=post.caption%></td>
    <td> <%= time_ago_in_words(post.created_at) %> ago </td>
    <td> <%=post.likes_count%></td>
    <td> <a href="/photos/<%=post.id%>">Show details</a></td>
  </tr>
  <%end%>
</table>