<div>
  <div>
    <h1>
      <%= @the_user.username %>
    </h1>

    <dl>
      <dt>
        Private
      </dt>
        <dd>
          <%= @the_user.private%>
        </dd>
      <dt>
        Followers
      </dt>
        <dd>
          <%follow_count = FollowRequest.where({:recipient_id => @the_user.id, :status => "accepted"})%>
          <%= follow_count.count %>
        </dd>
        <dd>  
          <%follow_status = FollowRequest.where({:recipient_id => @the_user.id, :status => "accepted", :sender_id => @current_user.id}).at(0)%>
          <%if follow_status ==nil%>
            <form action="/insert_follow_request" method="post">        
              <input type="hidden" name="query_recipient_id" value="<%= @the_user.id%>">        
              <input type="hidden" name="query_sender_id" value="<%= @current_user.id%>">        
              <input type="hidden" name="query_status" value="accepted">
              <button>
                Follow
              </button>
            </form>
          <%else%>
            <a href="/delete_follow_request/#{follow_status.id}">Unfollow</a>
            <%end%>
        </dd>
      <dt>
        Following
      </dt>
        <dd>
          <%following_count = FollowRequest.where({:sender_id => @the_user.id, :status => "accepted"})%>
          <%= following_count.count %>
        </dd>
      
      <%if @the_user.id == @current_user.id%>
          <dt>
            Edit user
          </dt>
            <dd>
              <form action = "/modify_user" method = "post">
                
                
                  <label for="username">Username</label>
                  <input id="username" name="query_username" value="<%= @current_user.username %>">
                
                  <label for="private">Private?</label>
                  <input id="private" name="query_private" type="checkbox">
                <button>Update user</button>
              </form>
            </dd>
        <%else%>
        <%end%>


      <ul> 
        <li> <a href = "/users/<%=@the_user.username%>"> Profile</a>  </li>
        <li> <a href = "/users/<%=@the_user.username%>/liked_photos">Liked photos </a> </li>
        <li> <a href = "/users/<%=@the_user.username%>/feed"> Feed </a> </li>
        <li> <a href = "/users/<%=@the_user.username%>/discover">Discover </a> </li>
      </ul>
    </dl>

<h2>
  <% photos = Photo.where({ :owner_id => @the_user.id})%>
  Own photos (<%=photos.count%>)
</h2>
<table border ="1">
  <tbody>
    <tr>
      <th>Image</th>
      <th>Owner</th>
      <th>Caption	</th>
      <th>Posted</th>	
      <th>Likes	</th>
      <th></th>
    </tr>
    <%photos.each do |photo|%>
    <tr> 
      <td> <img src = "<%=photo.image%>"></td>
      <td> <%=@the_user.username%></td>
      <td> <%=photo.caption%> </td>
      <td> <%= time_ago_in_words(photo.created_at) %> ago </td>
      <td> <%=photo.likes_count%></td>
      <td> <a href="/photos/<%=photo.id%>">Show details</a></td>
    <%end%>
  </tbody>
</table>


