<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

 <form action="/insert_photo" method="post" enctype="multipart/form-data">
      <label for = "query_image"> Image </label>
      <input type="file" id = "query_image" name="query_image" value="HOLD">        
    
      <label for = "caption"> Caption </label>
      <textarea id = "caption" name = "query_caption" placeholder = "Enter a caption for the photo..." ></textarea>
      
    <button>
      Add photo
    </button>
</form>
<%# 
<div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div> %>

<%# the_photo = Photo.new
    the_photo.image = params.fetch("query_image")
    the_photo.caption = params.fetch("query_caption")
    the_photo.owner_id = params.fetch("query_owner_id")
    the_photo.likes_count = params.fetch("query_likes_count")
    the_photo.comments_count = params.fetch("query_comments_count") %>

					
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
          
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <img src = "<%= a_photo.image %>">
        </td>
        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%owner = @users.where({:id => a_photo.owner_id}).at(0)%>
          <%= owner.username %>
        </td>

        <td>
           <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


app/controllers/comments_controller.rb
        app/controllers/follow_requests_controller.rb
        app/controllers/likes_controller.rb
        app/controllers/photos_controller.rb
        app/controllers/user_authentication_controller.rb
        app/controllers/users_controller.rb
        app/models/comment.rb
        app/models/follow_request.rb
        app/models/like.rb
        app/models/photo.rb
        app/models/user.rb
        app/views/code_dump.html.erb
        app/views/comments/
        app/views/follow_requests/
        app/views/likes/
        app/views/photos/
        app/views/user_authentication/
        app/views/users/
        db/migrate/